@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// vars
@import 'variables';

// scrollbar
::-webkit-scrollbar {
  width: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cmc {
  position: fixed;
  top: -30px;
  right: -10px;
}

@font-face {
  font-family: "Hylia";
  src: url("../font/HyliaSerifBeta-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-hylia {
  font-family: "Hylia", serif, sans-serif;
}
