html {
    margin: 0;
    overflow: -moz-hidde-unscrollable;
    height: 100.001%;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    /* width: calc(100vw + 18px); */
    overflow: auto;
    margin: 0;
}

/*
    文字选中时的颜色
*/
::selection {
	background:#4dc0b5; 
	color:#fff;
}

::-moz-selection {
	background:#4dc0b5; 
	color:#fff;
}

::-webkit-selection {
	background:#4dc0b5; 
	color:#fff;
}


/*
    禁止选中
*/
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}