@font-face {
    font-family: "Hylia";
    src: url("../font/HyliaSerifBeta-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-hylia {
    font-family: "Hylia", serif, sans-serif;
}
