/*
    专场特效
*/

.page-enter-from{
    opacity: 0;
    transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.page-enter-to, .page-leave {
    opacity: 1
}