---
import Default from "@/layouts/default.astro";
---

<Default title="About">
    <div
        class="flex flex-1 w-full justify-center px-2 py-2 md:py-7 md:px-24 2xl:py-14 2xl:px-96"
    >
        <div class="rounded-xl bg-slate-800 w-full shadow-xl">
            <div class="p-10 md:p-20 text-white">
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> Introduction
                    </h1>
                    <div class="flex">
                        <div class="pl-6 flex-1">
                            <p class="text-lg">
                                Hi, this is <span
                                    class="text-emerald-400 italic">Ela</span
                                >, nice to meet you! As you see, I am a <span
                                    class="text-pink-300 italic">pegasus</span
                                >. I have an extraordinary passion in this
                                internet world. Let me guess, if you are using a
                                <span class="underline">large screen</span> to browse
                                this page, you may be able to see my <span
                                    class="text-yellow-400 italic"
                                    >cutie mark</span
                                > 🌙.
                            </p>
                            <p class="text-lg py-2">
                                At present, I am still a undergraduate student,
                                focusing on
                                <span class="text-purple-400"
                                    >Cyberspace Security</span
                                > (but major in Computer Science), and I am also
                                good at
                                <span class="text-blue-400">Python</span> and
                                <span class="text-green-400">front-end</span> work.
                                Additionally, I enjoy accepting new things, such
                                as <span class="text-sky-400">Go</span> and <span
                                    class="text-rose-400">Rust</span
                                >.
                            </p>
                        </div>
                        <img
                            src="/Ella_Avatar.png"
                            alt=""
                            draggable="false"
                            class="hidden xl:block rounded-full float-left float-left h-48 mx-2"
                        />
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> About My
                        <span class="italic">Name</span>
                    </h1>
                    <div class="pl-6">
                        <p class="text-lg">
                            <span class="text-emerald-400">Ela</span>
                            <code class="bg-gray-700 rounded text-sm"
                                >/ˈɛlə/</code
                            >, this is my English nickname. And my
                            <span class="text-red-500">Chinese</span> nickname is
                            called
                            <span class="text-emerald-400">埃拉</span>
                            <code class="bg-gray-700 rounded text-sm"
                                >/āi lā/</code
                            >.
                        </p>
                        <p class="text-lg py-2">
                            Let's talk about the history of my nickname. You may
                            have noticed a detail about my avatar. I like <span
                                class="text-emerald-400">green</span
                            > very much. I have the same name as one of the operators
                            in <span class="underline">Rainbow Six | Siege</span
                            >, the green-haired lady Ela from Poland. That's why
                            my usual ID is
                            <span class="text-emerald-400 underline"
                                >ElaBosak233</span
                            >.
                        </p>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> About My
                        <span class="italic">Basic Info</span>
                    </h1>
                    <div class="pl-6">
                        <img
                            class="float-left h-48 mr-4"
                            draggable="false"
                            src="/Ella.svg"
                            alt=""
                        />
                        <p class="text-lg">Born in February, 2005.</p>
                        <p class="text-lg">
                            The worldview belongs to
                            <span class="italic underline"
                                >My Little Pony: Friendship is Magic.</span
                            >
                        </p>
                        <p class="text-lg">
                            Don't have a fixed residence, can fall asleep with
                            just a cloud.
                        </p>
                        <p class="text-lg">
                            Capable of controlling small-scale storms.
                        </p>
                        <p class="text-lg">
                            <span class="italic">Very</span> poor at mathematics.
                            One of the regrets in life is not being able to understand
                            mathematics. (Ela's physics is better than math!)
                        </p>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> About My
                        <span class="italic">Ponieality</span>
                    </h1>
                    <div class="pl-12">
                        <ul class="list-disc">
                            <li>Sensitive, causing a bit of nervousness.</li>
                            <li>Also eager to be cared for by other ponies.</li>
                            <li>
                                Usually very gentle, but sometimes it becomes
                                very irritable.
                            </li>
                            <li>
                                Flight speed is not fast, unless it is a
                                critical moment.
                            </li>
                            <li>
                                Be very frank with friends. It's difficult for
                                me to pretend emotions.
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> About My
                        <span class="italic">Cutie Mark</span>
                        <span class="text-gray-400 text-lg italic"
                            >(3rd version)</span
                        >
                    </h1>
                    <div class="pl-6">
                        <p class="text-lg">
                            The subject of my cutie mark is the moon. The moon
                            🌙 represents guardianship, and star ⭐ means
                            companionship.
                        </p>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> About My
                        <span class="italic">Hobbies</span>
                    </h1>
                    <div class="pl-12">
                        <ul class="list-disc">
                            <li>
                                Game software <span
                                    class="text-purple-400 font-semibold"
                                    >IntelliJ IDEA</span
                                >. Hundreds of hours of gameplay. I've wasted
                                most of my life on this game.
                            </li>
                            <li>
                                Game series <span
                                    class="text-yellow-500 font-semibold"
                                    >The Legend of Zelda</span
                                >. Maybe I was a great swordsman to save the
                                princess Zelda.
                            </li>
                            <li>
                                Animation <span
                                    class="text-pink-300 font-semibold"
                                    >My Little Pony</span
                                >. See my avatar and my cutie mark, no more
                                explanation. I love RD&TS so much.
                            </li>
                            <li>
                                Game software <span
                                    class="text-green-200 font-semibold"
                                    >Minecraft</span
                                >. I learned Java from it. <span
                                    class="line-through">(also Jvav)</span
                                >
                            </li>
                            <li>
                                FPS game softwares <span
                                    class="text-orange-200 font-semibold"
                                    >Valorant</span
                                >,
                                <span class="text-red-400 font-semibold"
                                    >Apex Legends</span
                                >,
                                <span class="text-sky-400 font-semibold"
                                    >Overwatch</span
                                >. I learned English from them. (not serious)
                            </li>
                            <li>
                                Tetris game softwares
                                <span class="text-zinc-400 font-semibold"
                                    >Tetris Effect Connected</span
                                >,
                                <span class="text-blue-400 font-semibold"
                                    >Puyo Puyo Tetris 2</span
                                >,
                                <span class="text-red-500 font-semibold"
                                    >Tetris 99</span
                                >. They all make me enjoyable! And my favorite
                                TEC level is Metamorphosis.
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-serif py-4">
                        <span class="text-emerald-500">#</span> Contact Me
                    </h1>
                    <div class="pl-12">
                        <ul class="list-disc">
                            <li>
                                QQ <span class="text-sky-400"
                                    >MTcwODk0Nzk1Mw==</span
                                > (I Hope you know what it means)
                            </li>
                            <li>
                                Email <span class="text-green-200"
                                    >i@e23.dev</span
                                >
                            </li>
                            <li>
                                Bilibili <a
                                    href="https://space.bilibili.com/155510267"
                                    class="text-pink-200 hover:underline"
                                    target="_blank">155510267</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
