---
import Default from "@/layouts/default.astro";
import Hero from "@/components/Hero.astro";
---

<Default>
    <div class="flex flex-1 flex-col justify-center items-center">
        <Hero class="no-select px-10">
            <div class="flex flex-col justify-start content-center">
                <span class="text-green-400 my-2 font-semibold font-mono"
                    >Hi, this is
                </span>
                <span
                    class="text-sky-400 mb-2 text-3xl md:text-8xl font-bold font-serif"
                    >@ElaBosak233</span
                >
                <span class="text-red-300 mb-4 text-6xl font-bold font-serif">
                    A Chinese <span class="text-pink-200">Pegasus</span> & <span
                        class="text-sky-200">CTFer</span
                    >
                </span>
                <div class="mb-4">
                    I am indeed a CTFer, but I <span style="font-style: italic"
                        >DO NOT</span
                    > have any skills.
                </div>
            </div>
        </Hero>
    </div>
</Default>
